* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 22px;
}

/*------NAVBAR----*/
header {
  width: 100%;
  background: #e0e0e0;
  padding: 0 200px;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  background: #e0e0e0;
}

.nav-text {
  flex: 1;
  margin-left: 15px;
}

.nav-text p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

.nav-container {
  background-color: #fff;
  height: 40px;
  align-items: center;
  display: flex;
}

.nav-item {
  display: inline;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #000;
  padding: 0 15px;
}

.border:after {
  content: "";
  margin: auto;
  height: 20px;
  width: 1px;
  position: absolute;
  background-color: #979797;
}

.hamburguer {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hamburguer:focus {
  outline: none;
}

#close {
  display: none;
}

/*-----TRANSACTIONS CONTAINER----*/
main {
  display: flex;
  justify-content: center;
  margin: 30px 200px;
}

.form-container {
  border: 1px solid #979797;
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 20px;
  border-radius: 4px;
  padding: 20px 10px;
}

.form-container h5 {
  font-size: 16px;
  align-self: center;
}

.form-row {
  width: 100%;
}

.form-item {
  margin: 10px 0;
}

.input-dm,
input {
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #cecece;
  margin: 5px 0;
}

.input-dm,
input:focus {
  outline: none;
}

.form-button {
  width: 100%;
text-align: center;
padding:0px;
  background-color: rgba(7, 6, 6, 0.692);
  border-radius: 6px;
  border: 1px solid;
    color: #fff;
}

.form-button a {
  text-decoration: none;
  color: #fff;
}

/*------EXTRACT SECTION -----*/

.extract-section {
  width: 62%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
  padding: 5px;
}

.extract-section h5 {
  align-self: center;
  font-size: 16px;
}
.space-between{
display: flex;
justify-content: space-between;
padding: 8px 20px;

}

.spacebetween {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #979797;
  padding: 8px 20px;
}

.total {
  border-top: 1px solid #979797;
  border-bottom: 0;
  margin-top: 3px;
}

/*---footer---*/

footer {
  width: 100%;
  background-color: #333333;
  height: 8px;
  position: fixed;
  bottom: 0;
}

/*-----media queries----*/

@media (max-width: 1112px) {
  header {
    padding: 0 20px;
  }

  main {
    margin: 30px 20px;
  }
}

@media (max-width: 768px) {
  .nav-hr {
    display: none;
  }

  .nav-container {
    display: none;
  }

  .nav-container.show {
    background-color: #333333;
    position: fixed;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    display: block;
    padding: 0;
  }

  .nav-list {
    flex-direction: column;
    text-align: right;
    font-size: 16px;
    transition: all ease-in-out 300ms;
    margin: 60px 0;
  }

  .nav-item {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .nav-item a {
    display: inline-block;
    cursor: pointer;
    text-align: right;
    padding: 10px 25px;
    font-size: 16px;
    transition: all ease-in-out 300ms;
    color: #fff;
    width: 100%;
  }

  .nav-item a:hover {
    background-color: #c4c4c4;
    border-radius: 0px;
    color: #000;
  }

  #close {
    display: block;
    background: transparent;
    position: absolute;
    left: 0;
    border: 0;
    top: 0;
    cursor: pointer;
  }

  #close img {
    width: 16px;
    margin: 20px;
  }

  .nav-bar {
    align-items: center;
    padding: 0 10px;
    justify-content: space-evenly;
  }

  .nav-text {
    margin: 0 auto;
    flex: 0;
  }

  .nav-text p {
    width: 170px;
  }

  .hamburguer {
    display: block;
  }

  .form-container {
    width: 100%;
    margin-top: 30px;
    margin: 0;
  }

  .form-row {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5px;
  }

  .extract-section {
    width: 100%;
    margin-top: 44px;
  }

  form button {
    width: 200px;
    align-self: end;
  }

  main {
    margin: 20px 25px;
    flex-direction: column;
  }
}

@media (max-width: 520px) {
  form button {
    width: 100%;
    margin-bottom: 20px;
  }

  main {
    margin: 0 10px;
  }

  .nav-bar {
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  .nav-container.show {
    width: 80%;
  }

  .form-container {
    height: 100%;
    box-shadow: none;
    border: 0;
  }

  .form-container h5 {
    display: none;
  }

  .form-item {
    margin-top: 5px;
  }

  .form-item input,
  #name {
    width: 100%;
  }

  .form-row {
    flex-direction: column;
    width: 100%;
  }

  .extract-section {
    margin-top: 0;
    padding: 30px 0;
    border-top: 1px solid #979797;
  }

  .extract-section h5 {
    margin-bottom: 20px;
  }

  .spacebetween span {
    flex-shrink: 0;
  }
}