* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 22px;
}

/*------NAVBAR----*/
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #e0e0e0;
  height: 80px;
  align-items: center;
  padding: 20px 200px;
}

.nav-text {
  justify-self: start;
  flex: 1;
  margin-left: 20px;
}

.nav-text p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  width: 100%;
}

.nav-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  height: 40px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 5px;
  padding: 5px;
}

.nav-item a {
  text-decoration: none;
  color: #000;
}

.nav-hr {
  width: 1px;
  margin: 10px 0;
  color: #979797;
}

.hamburguer {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hamburguer:focus {
  outline: none;
}

aside {
  display: none;
}

/*-----TRANSACTIONS CONTAINER----*/
main {
  display: flex;
  justify-content: center;
  margin: 30px;
 
  flex-wrap: nowrap;
}

.form-container {
  border: 1px solid #979797;
  width: 400px;
  height: 344px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 20px 0 0;
  border-radius: 4px;
  box-shadow: inset 1px 1px 5px rgb(240 235 245);
  padding: 10px;
}

.form-container h5 {
  font-size: 16px;
  padding: 10px 0;
  align-self: center;
}

.form-row {
  margin: 30px 0;
  width: 100%;
}

.input-dm,
input {
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #cecece;
  margin: 5px 0;
}

.input-dm,
input:focus {
  outline: none;
}

form button {
  width: 100%;
  padding: 5px;
  background-color: rgba(7, 6, 6, 0.692);
  border-radius: 4px;
  border: 1px solid;
}

form button a {
  text-decoration: none;
  color: #fff;
}

/*------EXTRACT SECTION -----*/

.extract-section {
  width: 680px;
  height: 281px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
  padding: 5px;
}

.extract-section h5 {
  align-self: center;
  font-size: 16px;
}

.spacebetween {
  display: flex;
  justify-content: space-between;
}

.spacebetween p {
  margin: 0 20px;
}

.space-between span {
  margin: 5px;
}

.extract-section hr {
  padding: 0;
  margin: 5px 0;
}

/*-----media queries----*/

@media (max-width: 950px) {
  .nav-container {
    display: none;
  }

  #close {
    background: transparent;
    position: absolute;
    left: 0;
    border: 0;
    top: 0;
    cursor: pointer;
  }
  #close img {
    width: 16px;
    margin: 15px;
  }

  .aside-menu {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
  }
  .aside-menu a {
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 5px 15px;
    font-size: 16px;
    transition: all ease-in-out 300ms;
  }

  aside a:hover {
    background-color: #c4c4c4;
    border-radius: 4px;
  }

  aside.show {
    display: block;
    position: absolute;
    background-color: #333333;
    color: #fff;
    width: 40%;
    right: 0;
    top: 0;
    height: 100%;
    transition: all ease-in 500ms;
  }

  .nav-bar {
    align-items: center;
    padding: 0 10px;
    justify-content: space-evenly;
  }

  .nav-text {
    margin: 0 auto;
    flex: 0;
  }

  .nav-text p {
    width: 180px;
  }

  .hamburguer {
    display: block;
  }

  .form-container {
    width: 100%;
    margin-top: 30px;
    height: 240px;
    margin: 0;
  }

  .form-row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .form-item {
    display: flex;
    flex-direction: column;
  }

  .form-item input {
    width: 200px;
  }

  .extract-section {
    width: 100%;
    margin-top: 60px;
  }
  #name {
    width: 340px;
  }

  form button {
    width: 200px;
    align-self: end;
  }

  main {
    margin: 20px 25px;
    flex-direction: column;
  }
}

@media (max-width: 740px) {
  .form-item input {
    width: 100%;
  }

  #name {
    width: 100%;
  }
}

@media (max-width: 540px) {
  form button {
    width: 100%;
    margin-bottom: 20px;
  }

  main {
    margin: 0;
  }
  .nav-bar {
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
  }

  aside.show {
    width: 80%;
  }

  .form-container {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
  }
  .form-container h5 {
    display: none;
  }
  .form-item input,
  #name {
    width: 100%;
  }

  .form-row {
    flex-direction: column;
    width: 100%;
  }

  .extract-section {
    width: 100%;
    margin: 50px 5px 0 5px;
  }
}
